
h1{
    color: black;
    background-color: rgba(239, 18, 232, 0.32);
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}




img{
    width: 550px;
}

h2{
    color: black;
    background-color:white;
    font-size: 50px;
    font-family: 'Times New roman', Times, serif;
}

body{
    background-color: rgba(133, 188, 77, 0.342);
}